@font-face {
  font-family: Open;
   src: url("./fonts/OpenSans-Regular.ttf");
 }
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #00333b;
  font-family: 'Open', sans-serif;
}
.container {
  margin: 0px auto ;
  border-radius: 20px;
  background-color: #cedddf;
  max-width: 1024px;
}
ul {
  list-style-type: square;
  padding-inline-start: 20px;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}

/*header*/
header {
  position: sticky;
  top: 0px;
}
.header-container {
  padding: 10px;
  background-color: #00333b;
}
.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0px;
}
.nav-item {
  flex-grow: 1;
  text-align: center;
}
.nav-link {
  color: #fff;
}
.nav-link:visited {
  color: #fff;
}
.link-text-content {
  margin: 0px;
}

/*main*/
.main-container {
  display: flex;
  padding: 20px;
}
.left-column {
  background-color: #fff;
  border-radius: 10px;
  flex: none;
  width: 310px;
}
.right-column {
  margin-left: 10px;
  padding: 10px;
  border: 5px solid #fff;
  border-radius: 10px;
  flex-grow: 1;
}
.section {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: justify;
}
.left-column .section {
  margin: 0px 15px;
}
.anchor {
  display: block;
  height: 125px; 
  margin-top: -125px; 
  visibility: hidden;
}
.page-title {
  margin: 0px;
  font-size: 36px;
}
.section-title {
  margin: 0px 0px 10px;
}
#profile {
  margin: 0px;
  text-align: center;
}
#profile img {
  border: 10px solid #cedddf;
  border-radius: 125px;
  padding: 10px;
}
.contacts {
  border: 2px solid #00333b;
  border-radius: 5px;
}
.contacts-list {
  list-style-type: none;
  margin: 0px;
  padding-inline-start: 0px;
}
.contact-item {
  display: flex;
  margin-bottom: 10px;
}
.contact-item > span {
  margin-left: 10px;
}
.code-example {
  display: none;
  margin: 0px;
  background-color: lightgrey;
  padding: 5px;
  overflow: auto;
}
.projects {
  display: block;
  margin: 0px;
  padding: 10px;
  padding-left: 40px;
  border: 5px solid #cedddf;
  border-radius: 5px;
}

/*footer*/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00333b;
  padding: 20px;
  color: #fff;
}
.footer-container a {
  color: #fff;
}
.github-link {
  font-size: 20px;
}
.rss-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 48px;
  background-color: #fff;
  border-radius: 5px;
}
.icon-attribute {
  font-size: 12px ! important;
}

@media (max-width: 860px){
    .nav-list {
        gap: 15px;
        flex-wrap: wrap;
    }
    .main-container {
        flex-direction: column;
    }
    .left-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
    }
    .right-column {
        margin: 0;
    }
    #profile {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .contacts {
        border: 0;
        width: 300px;
    }
}  

@media (max-width: 740px) {
    .container {
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: 1fr min-content;
        border-radius: 0;
    }
    header {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .header-container {
        height: 100%;
    }
    .nav-list {
        flex-direction: column;
        gap: 40px;
    }
    .left-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills {
        width: 300px;
    }
    .left-column .section {
        margin: 0;
    }
} 
@media (max-width: 500px) {
    .footer-container {
        flex-direction: column;
        gap: 15px;
    }
    .left-column .section {
        padding-left: 0;
        padding-right: 0;
    }
    .contacts,
    .skills {
        width: 250px;
    } 
}
@media (max-width: 450px) {
    .container {
        display: block;
    }
    header {
        display: none;
    }
}