* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #00333b;
  min-width: 700px; 
}
.container {
  margin: 30px auto;
  border-radius: 20px;
  background-color: #cedddf;
  max-width: 900px;
  padding: 20px 0px;
}

/*header*/
header {
  position: sticky;
  top: 0px;
}
.header-container {
  padding: 10px;
  background-color: #fff;
}
.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0px;
}
.nav-item {
  flex-grow: 1;
  text-align: center;
}
.nav-link {
  text-decoration: none;
}
.link-text-content {
  margin: 0px;
}
.link-text-content:hover {
  text-decoration: underline;
}

/*main*/
.main-container {
  display: flex;
  padding: 20px;
}
.left-column {
  background-color: #fff;
  
  border-radius: 10px;
  flex: none;
  width: 300px;
}
.right-column {
  margin-left: 10px;
  padding: 10px;
  border: 5px solid #fff;
  border-radius: 10px;
  flex-grow: 1;
}
.section {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}
h3 {
  margin-top: 0px;
}
#profile {
  text-align: center;
}
#profile img {
  border: 10px solid #cedddf;
  border-radius: 100px;
  padding: 10px;
}
